<%= stylesheet_link_tag "investment" %>

<h1>New investment</h1>
<%= form_for(@investment) do |f| %>
	<div class="field">
    <p>member</p>
    <%= f.collection_select :member_id, Member.all, :id, :name%>
  </div>
  <div class="field">
    <p>stock</p>
    <%= f.collection_select :stock_id, Stock.all, :id, :name%>
  </div>
  <div class="field">
    <%= f.label :share_change %><br>
    <%= f.number_field :share_change %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> 