<%= stylesheet_link_tag "investment" %>

<h1>New investment</h1>
<%= form_for(@investment) do |f| %>
	<div class="field">
    <p>member</p>
    <%= f.collection_select :member_id, Member.all, :id, :name%>
  </div>
  <div class="field">
    <p>stock</p>
    <%= f.collection_select :stock_id, Stock.all, :id, :name %>
  </div>
  <div class="field"S>
    <%= f.label :share_change %><br>
    <%= f.number_field :share_change %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div class="error-msg"> 
    <% if @investment.errors.any? %> 
    <ul> 
      <% @investment.errors.full_messages.each do |msg| %> 
      <li><%= msg %></li> 
      <% end %> 
    </ul> 
    <% end %> 
  </div>
  <br>
  <button class= "hide-btn"> 
    Hide stock quotes
  </button>
  <h3><strong>Quotes:</strong></h3>
  <div class="dash-review">
    <% @stocks.each do |stock| %>
      <p><%= link_to stock.name, stock_path(stock.id) %>: <%= stock.price %></p>
    <% end %> 
  </div> 
  <% javascript_tag do %>
    var stocks = <%= @stocks.to_json %>;
  <% end %>
  <% javascript_include_tag 'investments.js' %>
<% end %> 