<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @investment.id %>
</p>

<p>
  <strong>Member:</strong>
  <%= @investment.member.name %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @investment.stock.name %>
</p>

<p>
  <strong>Share change:</strong>
  <%= @investment.share_change %>
</p>

<%= link_to 'Edit', edit_investment_path(@investment) %> |
<%= link_to 'Back', investments_path %>
