<center>
<div class="content-box">
<h1>Stock List</h1>

<table>
  <thead>
    <tr>
      <th>Ticker&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Name&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Price&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.ticker %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= stock.name %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= stock.price.round(2) %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= link_to 'Show', stock %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= link_to 'Remove', stock, method: :delete, data: { confirm: 'Are you sure you want to remove the stock?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Stock', new_stock_path %> |
<%= link_to 'Home', root_path %>  
</div>
</div>
</center>