<h1>New stock</h1>
<%= form_for(@stock) do |f| %>
  <div class="field">
    <%= f.label :ticker %><br>
    <%= f.text_field :ticker %>
  </div>
  <div class="field">
    <%= f.hidden_field :name, :name => "invalid ticker" %>
  </div>
  <div class="field">
    <%= f.hidden_field :price, :price => 99999 %>
  </div>
  <div class="field">
    <%= f.hidden_field :market_value, :market_value => 0 %>
  </div>
  <div class="field">
    <%= f.hidden_field :investors, :investors => 0 %>
  </div>
	<div class="actions">
		<%=f.submit%>
	</div>
  <div class="error-msg"> 
    <% if @stock.errors.any? %> 
    <ul> 
      <% @stock.errors.full_messages.each do |msg| %> 
      <li><%= msg %></li> 
      <% end %> 
    </ul> 
    <% end %> 
  </div>
<% end %>