<center>
<p id="notice"><%= notice %></p>

<p>
  <strong>Ticker:</strong>
  <%= @stock.ticker %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stock.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @stock.price %>
</p>

<p>
  <strong>Market value:</strong>
  <%= @stock.market_value %>
</p>

<%= link_to 'Back', stocks_path %>

<br>
<br>
<h2><strong>My Net Investment:</strong></h2>
<div class="dash-review">
  <h4>net share change: <%= @net_investment %></h4>
</div>


<h2><strong>My Investments:</strong></h2>
<% @my_investments.each do |my_investment| %>
  <div class="dash-review">
    <h4>share change: <%= my_investment.share_change %></h4>
  </div>
<%end%> 

<br>
<h1><strong>Latest Investments:</strong></h1>
<% @investments.each do |investment| %>
	<div class="dash-review">
		<h2><%= link_to Member.where(id: investment.member_id).take!.name, investment_path(investment.member_id) %> </h2>
		<h4>share change: <%= investment.share_change %></h4>
	</div>
<%end%>	
</div>
</center>