<div class= "content">
	<div class="cotent-box">
		<h1 id="title">Basic Trading Program for Investment Clubs</h1>
		<ul id="bar">
			<div class="button1">
				<%= link_to "New Members", new_member_path %>
			</div>
			<div class="button1">
				<%= link_to "New Stock", new_stock_path %>
			</div>	
			<div class="button1">
				<%= link_to "New Investments", new_investment_path %>
			</div>	
			<div class="button1">
				<%= link_to "New Posts", new_post_path %>
			</div>	
		</ul>	
		<ul id="bar">
			<div class="button1">
				<%= link_to "View Members", members_path %>
			</div>
			<div class="button1">
				<%= link_to "View Stocks", stocks_path %>
			</div>
			<div class="button1">
				<%= link_to "View Investments", investments_path %>
			</div>		
			<div class="button1">
				<%= link_to "View Posts", posts_path %>
			</div>	
		</ul>
	</div>
</div>