<table>
	<tr>
		<td>name</td>
		<td>email</td>
		<td>password</td>
	</tr>
	<% @companies.each do |company| %>
	<tr>
		<td><%= company.name %></td>
		<td><%= company.email %></td>
		<td><%= company.password %></td>
	</tr>
	<% end %>
</table>
<p></p>
<%= link_to 'New Company', new_company_path %>	|
<%= link_to 'Home', root_path %>	