<center>

<h1>Submit a New Post</h1>

<%= form_for(@post) do |f| %>
	<div class="field">
		<p>Title</p>
		<%= f.text_field :title%>
	</div>
	<div class="field">
		<p>Comment</p>
		<%= f.text_field :body%>
	<div class="field">
		<%= f.hidden_field :member_id, :value => current_member.id %>
	</div>
	<div class="actions">
		<%=f.submit%>
	</div>
	<div class="error-msg"> 
		<% if @post.errors.any? %> 
		<ul> 
			<% @post.errors.full_messages.each do |msg| %> 
			<li><%= msg %></li> 
 			<% end %> 
 		</ul> 
		<% end %> 
	</div>
<% end %>
</center>