<center>
<h1>New post</h1>
<%= form_for(@post) do |f| %>
	<div class="field">
		<p>title</p>
		<%= f.text_field :title%>
	</div>
	<div class="field">
		<p>Comment</p>
		<%= f.text_field :body%>
	</div>
		<div class="field">
		<p>stock</p>
		<%= f.collection_select :stock_id, Stock.all, :id, :name%>
	</div>
	<div class="field">
		<p>member</p>
		<%= f.collection_select :member_id, Member.all, :id, :name%>
	</div>
	<div class="actions">
		<%=f.submit%>
	</div>
	<div class="error-msg"> 
		<% if @post.errors.any? %> 
		<ul> 
			<% @post.errors.full_messages.each do |msg| %> 
			<li><%= msg %></li> 
 			<% end %> 
 		</ul> 
		<% end %> 
	</div>
<% end %>
</center>