<!DOCTYPE html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  	<title>Trading Simulation</title>
  	<style type="text/css">
	  	a:link {text-decoration: none;}
	  	a:hover {text-decoration: underline;}
	  	a:active {text-decoration: underline; border-bottom:10px;}
	  	a.sign_in:hover {text-decoration: none;}
	  	a.sign_in:active {text-decoration: none;}
	  </style>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>

<div class= "navbar">
	<ul class= "nav">
		<% if !signed_in? %>
			<li><%=link_to 'Login', new_member_session_path, :class => "nav-link sign_in" %></li>
		<% end %>
		<li><%= link_to 'Posts', posts_path, :class => "nav-link" %></li>
		<li><%= link_to "Investments", investments_path, :class => "nav-link" %></li>
		<li><%= link_to "Stocks", stocks_path, :class => "nav-link" %></li>
		<li><%= link_to 'Members', members_path, :class => "nav-link" %></li>
	</ul>
</div>

<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class= "subbar">
	<ul class= "sub">
		<div id="left-links">
			<li><%= link_to 'Leaderboard', pages_path, :class => "sub-link" %></li>
		</div>
		<div id="right-links">
			<li><%= link_to 'Home', root_path, :class => "sub-link" %></li>
			<% if signed_in? %>
				<li><%= link_to 'Logout', destroy_member_session_path, :method => :delete, :class => "sub-link" %></li>
			<% end %>
		</div>
	</ul>
</div>
</body>
</html>
