<center>
<h1>Member List</h1>

<table>
  <thead>
    <tr>
      <th>Name&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Email&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Funds&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th>Value&nbsp;&nbsp;&nbsp;&nbsp;</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= member.email %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= member.funds %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= member.value %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= link_to 'View Info', member %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit Account', edit_member_registration_path %>
</div>
</center>