<div style="width: 1590px; height: 590px; overflow-y: auto;">
<h1>Member List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Funds</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= member.funds %></td>
        <td><%= member.value %></td>
        <td><%= link_to 'Show', member %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Edit Account', edit_member_registration_path %> |
<%= link_to 'Home', root_path %>
</div>