<h1>New member</h1>
<%= form_for(@member) do |f| %>
	<div class="field">
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div>
	<div class="field">
		<%= f.label :email %><br>
		<%= f.text_field :email %>
	</div>
	<div class="field">
    	<%= f.label :password %><br>
    	<%= f.text_field :password %>
  	</div>
	<div class="field">
		<%= f.hidden_field :funds, :value => 1000000 %>
	</div>
	<div class="field">
		<%= f.hidden_field :value, :value => 1000000 %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
	<div class="error-msg"> 
		<% if @member.errors.any? %> 
		<ul> 
			<% @member.errors.full_messages.each do |msg| %> 
			<li><%= msg %></li> 
 			<% end %> 
 		</ul> 
		<% end %> 
	</div>
<% end %>	
