<div style="width: 1590px; height: 600px; overflow-y: auto;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Funds:</strong>
  <%= @member.funds %>
</p>

<p>
  <strong>Value:</strong>
  <%= @member.value %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>

<br>
<br>
<h1><strong>Investments:</strong></h1>
<% @investments.each do |investment| %>
  <div class="dash-review">
  <h2>stock: <%= link_to Stock.where(id: investment.stock_id).take!.name, investment_path(investment.id) %></h2>
  <p>share change: <%= investment.share_change %></p>
</div>
<%end%>

<br>
<h1><strong>Posts:</strong></h1>
<% @posts.each do |post| %>
  <div class="dash-review">
  <h2><%= link_to post.title, post_path(post.id) %></h2>
  <p><%= post.body %></p>
</div>
<%end%>
</div>
