<h2>Viewing <%=@member.name %>'s Profile</h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Funds:</strong>
  <%= @member.funds %>
</p>

<p>
  <strong>Value:</strong>
  <%= @member.value %>
</p>

<%= link_to 'Edit Your Profile', edit_member_registration_path(@member) %> |
<%= link_to 'Back', members_path %>

<br>
<br>
<h3><strong>Investments:</strong></h3>
<div class="dash-review">
<% @investments.each do |investment| %>
  <h4>Stock: <%= link_to Stock.where(id: investment.stock_id).take!.name, investment_path(investment.id) %></h4>
  <p>Share change: <%= investment.share_change %></p>
<%end%>
</div>

<br>
<h3><strong>Posts:</strong></h3>
<div class="dash-review">
  <% @posts.each do |post| %>
  <h2><%= link_to post.title, post_path(post.id) %></h2>
  <p><%= post.body %></p>
<%end%>
</div>
