<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @member.id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Funds:</strong>
  <%= @member.funds %>
</p>

<p>
  <strong>Active Investments:</strong>
  <%= @member.active_investments %>
</p>

<p>
  <strong>Value:</strong>
  <%= @member.value %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>

<% @posts.each do |post| %>
  <div class="dash-review">
  <h2><%= link_to post.title, post_path(post.id) %></h2>
  <h5><%= post.member.name%></h5>
  <p><%= post.body %></p>
</div>
<%end%>

